*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translateY(2px);
}


.container {
    height: 100%;
    width: 100%;
    max-width: 1150px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgba(161, 121, 0, 0.122);
    box-shadow: 0px 4px 10px #8e7b6491;
}

.heder-wraper {
    display: flex;
    justify-content: space-between
}

.logo {
    display: flex;
    align-items: center;
}

.counter {
    display: flex;
    align-items: center;
}



.main {
    background-color: rgba(255, 253, 240, 0.556);
    height: 100%;
}

.form {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-shadow: 5px 10px 20px #8e7b6491;
    border-radius: 10px;
}

.button-wraper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px 24px 24px 0;
}

.text-wraper {
    display: flex;
    flex-direction: column;
    flex-grow: 7;
    padding: 24px;

}

.stack {
    display: flex;
    justify-content: space-evenly;
}


.radio-button input[type='radio'] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;

}

.radio-button span::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    opacity: 0.50;
}

.radio-button span {
    position: relative;
    cursor: pointer;
}

.radio-button span::after {
    content: "";
    position: absolute;
    left: 0px;
    top: -50px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 0;
}

.radio-red span::before {
    background-color: rgb(255, 0, 0);

}

.radio-green span::before {
    background-color: rgb(0, 128, 0);

}

.radio-blue span::before {
    background-color: rgb(0, 0, 255);

}

.radio-yellow span::before {
    background-color: rgb(255, 221, 0);

}

.radio-purple span::before {
    background-color: rgb(128, 0, 128);
}

.radio-button input[type='radio']:checked+span::before {
    opacity: 1;
}

input,
textarea{
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

label,
input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #95a1bb;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

input[type="text"] {
    width: 50%;
    height: 35px;
    border: 1px solid #95a1bb;
    border-radius: 10px;
    margin: 0 0 15px 0;
}

textarea{
    resize: none;
    border-radius: 10px;
    height: 85px;
}

input[type="radio"],
input[type="checkbox"],
select {
    cursor: pointer;
}

.button {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    border-radius: 2vh;
    height: 36px;
    background-color: #0a61f7;
    cursor: pointer;
}

.filter-box {
    display: flex;
    flex-direction: row-reverse;
    padding: 24px 0 15px;
}

.notes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.note {
    flex-direction: column;
    background-color: rgb(236, 233, 209);
    width: 100%;
    height: 100%;
    max-width: 355px;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 6px 20px #8e7b6491;
    z-index: 2;
}

.note-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: 10px 10px 0 0;
}


.note-description {
    width: 355px;
    white-space: normal;

}

.FavoriteNote {
    padding-left: 1.2em;

}

.isFavoriteNote {
    position: relative;
    appearance: none;

}

.imageNote {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.imageNote::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/heart_inactive.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.isFavoriteNote:checked+.imageNote::before {
    background-image: url(../images/icons/heart_active.svg);
}


.container-message {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 10;
}

.message-box {
    margin: 10px 0;
    padding: 10px;
    max-width: 40vw;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #978c7bad;
}

.message-box.success {
    background-color: rgb(22, 209, 22);
    color: rgb(255, 255, 255);
}

.message-box.error {
    background-color: red;
    color: rgb(255, 255, 255);
}


.notNotes{
    display: flex;
    position: relative;
    top: 15vh;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.invisible {
    display: none;
}
